.floating-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-decoration: none;
  color: inherit;
  height: 50px;
  width: 160px;
  z-index: 9999;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 13px;
  background-color: var(--primaryBg);
  box-shadow: 0px -3px 15px 0px var(--primaryHi) inset;
  color: var(--primaryFg);
  font-size: 1rem;
  transition: all 0.2s ease;
  animation: anim 5s linear infinite;
}

.floating-button::before {
  content: '';
  width: 100px;
  height: 60px;
  background-color: var(--primaryHi);
  border-radius: 100%;
  filter: blur(20px);
  position: absolute;
  bottom: -50%;
  transition: all 0.2s ease;
  z-index: -1;
}

.floating-button:hover::before {
  bottom: -40%;
  filter: blur(18px);
  scale: 1.2;
}

.floating-button:hover {
  transform: translateY(5px);
}

.floating-button.first {
  top: 12%;
  left: 15%;
  background-color: var(--accentBg);
  box-shadow: 0px -3px 15px 0px var(--accentHi) inset;
}

.floating-button.first::before {
  background-color: hsla(200, 88%, 46%, 0.475);
}

.floating-button.sec {
  bottom: 20%;
  right: 15%;
  background-color: var(--accentBg);
  box-shadow: 0px -3px 15px 0px var(--accentHi) inset;
}

.floating-button.sec::before {
  background-color: var(--accentHi);
}
