@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.tech-stack {
  min-height: 100vh;
  display: flex;
  padding: 2rem 4rem;
}

.tech-stack .title {
  margin-top: 6rem;
}

.tech-stack > div {
  width: 50%;
  padding: 1rem;
}

.tech-stack p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  line-height: 1.5rem;
}

.tech-row {
  display: flex;
  gap: 1rem;
  margin: 20px 0px;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-grid {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Fugaz One', sans-serif;
}

@media screen and (max-width: 700px) {
  .tech-stack {
    padding: 1rem 2rem;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .tech-stack > div {
    width: 100%;
    padding: 0.5rem;
  }

  .tech-stack .title {
    margin-top: 2rem;
    text-align: center;
  }

  .tech-stack p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .tech-row {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .tech-stack {
    padding: 1rem 1rem;
  }

  .tech-row {
    gap: 0.4rem;
    justify-content: center;
  }

  .glow-box {
    height: 3rem;
    width: 3rem;
  }

  .glow-box-title {
    font-size: 0.7rem;
    padding: 0.1rem 0.5rem;
  }
}
