.text-hover {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.text-hover span {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  transition-delay: calc(var(--i) * 0.05s);
}

.text-hover span::after {
  content: attr(data-char);
  position: absolute;
  left: 0;
  bottom: -100%;
  transform: translateY(100%);
  transition: transform 0.3s;
  transition-delay: calc(var(--i) * 0.05s);
}

.text-hover:hover span {
  transform: translateY(-100%);
}

.text-hover:hover span::after {
  transform: translateY(0);
}
